// fonts
$base-ff: 'Lovelace Trial';
$title-ff: 'Montserrat';

// font size
$base-fs: 16px;
$h1: 36px;
$h2: 48px;
$fz-text: 20px;
$fz-span: 16px;
// $h3: 36px; 
// $h4: 40px;
// $h5: 32px;
// $h6: 24px;
// $mini-text-fs: 12px;

// line height
$base-lh: 132.2%;

// font weight 
$base-fw: 500;
$fw-600: 600;

//font-style
$base-style: normal;


// mobile font size
// $m-h1: 36px;
// $m-h2: 30px;
// $m-h3: 24px;
// $m-h4: 20px;
// $m-base-fs: 14px;

// media
$sm-phone: 375px;
$phone: 767px;
$tablet: 1279px;
$note: 1680px;
$note-mini: 1439px;

// color
$white:  #fff;
$purple: #543B53;
$blue: #4FFBF9;
$black: #000;





